localhost:8008
gzip
log ../access.log

templates
# minify

ext .md .html

markdown / {
    template ../templates/post.html
    template index ../templates/index.html
}

proxy /test https://raw.githubusercontent.com/thomaspuppe/blog.thomaspuppe.de/master/content/ {
	# transparent
	header_upstream X-Real-IP {remote}
	header_upstream X-Forwarded-For {remote}
	# header_upstream X-Forwarded-Proto {scheme}
}
